<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl"><%= @polling.title %> - <%= @polling.code %></h1>
  <%== render partial: 'counterwidget', locals: { polling: @polling, text_size: 'text-4xl' } %>


  <div class="mt-5 p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
    <span class="font-medium">INFO!</span> This will be realtime for the result.
  </div>
  <div class="contents">
    <div class="my-5">
      <label for="polling_polling_answer">Polling Answer 1</label>
      <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700 mt-2">
        <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 45%"> 45%</div>
      </div>
    </div>

    <div class="my-5">
      <label for="polling_polling_answer">Polling Answer 2</label>
      <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700 mt-2">
        <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 45%"> 45%</div>
      </div>
    </div>

    <div class="my-5">
      <label for="polling_polling_answer">Polling Answer 3 (Optional)</label>
      <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700 mt-2">
        <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 45%"> 45%</div>
      </div>
    </div>

    <div class="my-5">
      <label for="polling_polling_answer">Polling Answer 4 (Optional)</label>
      <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700 mt-2">
        <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 75%"> 75%</div>
      </div>
    </div>
  </div>

  <%= link_to 'Back to pollings', pollings_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>